* {
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 366px;
    height:520px;
    margin:auto;
    border-radius: 5%;
    padding: 15px;
}

h2, p{
    text-align: center;
}
p{
    font-size: 0.9em;
}

.attribution{
    text-align: center;
}

.card__qr--image{
    height: 63%;
    border-radius: 5%;
}

.card__text{
    margin-top: -200px;
    font-family: "Arial", "Montserat", sans-serif;
}