:root {
   --Softblue: hsl(215, 51%, 70%);
   --Cyan: hsl(178, 100%, 50%);

   --iVerydarkblue: hsl(217, 54%, 11%); /*background*/
   --uVerydarkblue: hsl(216, 50%, 16%); /*card*/
   --Verydarkblue: hsl(215, 32%, 27%); /*line*/
   --White: hsl(0, 0%, 100%);

   --Fontsize: 18px;

   --Outfit: "Outfit", sans-serif; /*    Weights: 300, 400, 600*/
}

@media screen and (max-width: 600px) {
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   body {
      font-family: var(--Outfit);
      background-color: var(--iVerydarkblue);
      color: var(--Softblue);
      display: grid;
      place-items: center;
      height: 100vh;
   }
   main {
      width: 370px;
      max-width: 95%;
      margin: auto;
      background-color: var(--uVerydarkblue);
      border-radius: 1rem;
      padding: 20px;
   }
   main .equilibrium {
      width: 100%;
      height: 300px;
      border-radius: 1rem;
      position: relative;
      background-size: cover;
      background-image: url("images/image-equilibrium.jpg");

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         background-image: url("images/icon-view.svg");
         background-size: cover;
         opacity: 0;
         transition: opacity 0.3s ease;
      }

      &:hover {
         cursor: pointer;

         &::after {
            opacity: 0.5;
         }
      }
   }
   p {
      font-size: 1rem;
      margin: 15px 0px;
      font-weight: 400;
   }
   h3 {
      color: var(--White);
      font-size: 1.4rem;
      margin: 20px 0px;
      &:hover {
         color: var(--Cyan);
         cursor: pointer;
      }
   }
   .credit {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid var(--Verydarkblue);
      padding-top: 10px;
   }
   .credit .eth {
      height: 40px;
      border: 1px solid var(--White);
      border-radius: 50%;
      margin-right: 15px;
   }
   .credit span {
      font-weight: 500;
      color: var(--White);
      &:hover {
         cursor: pointer;
         color: var(--Cyan);
      }
   }
   .price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   .eth-icon img,
   .days-left img {
      margin: 0px 5px 0px 0px;
   }
   .eth-icon {
      color: var(--Cyan);
      font-weight: 500;
   }
}

@media screen and (min-width: 601px) {
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   body {
      font-family: var(--Outfit);
      background-color: var(--iVerydarkblue);
      color: var(--Softblue);
      display: grid;
      place-items: center;
      height: 100vh;
   }
   main {
      width: 370px;
      margin: auto;
      background-color: var(--uVerydarkblue);
      border-radius: 1rem;
      padding: 20px;
   }
   main .equilibrium {
      width: 100%;
      height: 300px;
      border-radius: 1rem;
      position: relative;
      background-size: cover;
      background-image: url("images/image-equilibrium.jpg");

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         background-image: url("images/icon-view.svg");
         background-size: cover;
         opacity: 0;
         transition: opacity 0.3s ease;
      }

      &:hover {
         cursor: pointer;

         &::after {
            opacity: 0.5;
         }
      }
   }
   p {
      font-size: 1rem;
      margin: 15px 0px;
      font-weight: 400;
   }
   h3 {
      color: var(--White);
      font-size: 1.4rem;
      margin: 20px 0px;
      &:hover {
         color: var(--Cyan);
         cursor: pointer;
      }
   }
   .credit {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid var(--Verydarkblue);
      padding-top: 10px;
   }
   .credit .eth {
      height: 40px;
      border: 1px solid var(--White);
      border-radius: 50%;
      margin-right: 15px;
   }
   .credit span {
      font-weight: 500;
      color: var(--White);
      &:hover {
         cursor: pointer;
         color: var(--Cyan);
      }
   }
   .price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   .eth-icon img,
   .days-left img {
      margin: 0px 5px 0px 0px;
   }
   .eth-icon {
      color: var(--Cyan);
      font-weight: 500;
   }
}
